<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Italianno&family=Open+Sans&family=Tangerine&family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
       .fade-out {
         opacity: 0;
         transition: opacity 0.5s ease;
       }
    </style>
</head>
<body>

       <div class="overlay"></div>
       <div class="text_image">
          <nav class="menu">
              <a href="{% url 'home' %}">Home </a>
              <a href="{% url 'servapp' %}"> Services</a>
              <a href="{% url 'storyapp' %}">Our story</a>
              <a href="{% url 'reservation' %}">Contact us</a>
              <a href="{% url 'servapp' %}" class="button_nav" style="color:black;">BOOK NOW</a>
          </nav>

           <h1 class="title">Marihair</h1>
           <p class="slogan">Glow your hair,own your vibe</p>
       </div>
       <div class="social_media">
          <a href="https://www.instagram.com/mari__hair27/" target="_blank">
            <i class="fab fa-instagram fa-2x" ></i>
          </a>
          <a href="https://wa.me/16132767337" target="_blank">
             <i class="fab fa-whatsapp fa-2x"></i>
          </a>
          <a href="https://www.snapchat.com/add/marionnegannavi?share_id=y2WMaw9oTo-ibkao9offhw&locale=fr_US" target="_blank">
            <i class="fab fa-snapchat fa-2x"></i>
          </a>
       </div>
       <section class="treatments">
         <h2>OUR TREATMENTS</h2>
         <div class="galerie">
            <img src="{% static 'hair_18.jpg'%}" alt="Hair_picture 1">
            <img src="{% static 'hair_17.jpg' %}" alt="Hair_picture 2">
            <img src="{% static 'images/hair_5.jpg'%}" alt="Hair_picture 3">
         </div>
         <a href="{% url 'servapp'%}" class="button-reservation">BOOK NOW</a>
       </section>
       <section class="finals">
            <a href="https://www.instagram.com/mari__hair27/" target="_blank" id="peps"> FOLLOW US ON</a>
            <h2> INSTAGRAM!</h2>
       </section>
    <footer>
      <div class="form-bloc">
          <div class="form-item">
              <h3>ADDRESS</h3>
              <p>Mon adresse</p>
          </div>
          <div class="form-item">
              <h3>CONTACT</h3>
              <p>Tel: +1(613)276-7337</p>
              <p>Email: info@mysite.com</p>
          </div>
          <div class="form-item">
              <h3>OPENING HOURS</h3>
              <p>Mon-Thu: 9am-8pm</p>
              <p>Fri:9am-8pm</p>
          </div>
          <div class="form-item">
              <h3>STAY UPDATED</h3>
              <form action="{% url 'home' %}" method="POST">
                  {% csrf_token %}
                  <input type="text" placeholder="Your email" pattern=".+@.+\..+" title="Enter a valid email" name="mail" required>
                  <button type="submit">Send</button>
              </form>
          </div>
      </div>
    </footer>
  <script src="{% static 'javas.js'  %}"></script>



</body>
</html>